@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

.feature-active {
	border-bottom: 1px solid hsl(0, 94%, 66%);
	border-bottom-width: 4px;
}
